@import '~antd/dist/antd.css';

body{
    margin: 0;
}
#root{
    height: 100%;
    color: #bfa;
}
html{

    font-size: 20px;
    /* 整个滚动条 */
::-webkit-scrollbar {
    /* 对应纵向滚动条的宽度 */
    width: 10px;
    /* 对应横向滚动条的宽度 */
    height: 10px;
}

/* 滚动条上的滚动滑块 */
::-webkit-scrollbar-thumb {
    background-color:  #d9d9d9;
    border-radius: 32px;
}

/* 滚动条轨道 */
::-webkit-scrollbar-track {
    background-color: #f0f0f0;
    border-radius: 32px;
}

}